* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Jura', 'Roboto', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #EDEAE5;
  overflow-x:hidden;
}

